@import 'https://code.highcharts.com/css/highcharts.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.highcharts-background {
  fill: #ffffffaa;
}

.highcharts-boxplot-box {
  fill: #555555dd;
}