@import 'https://code.highcharts.com/css/highcharts.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.highcharts-background {
  fill: #ffffff00;
}

.highcharts-boxplot-box {
  fill: #555555dd;
}

.highcharts-boxplot-box, .highcharts-point {
  stroke-width: 4px;
  stroke: black;
}

.highcharts-color-0 {
  stroke: black;
  stroke-width: 4px;
}

.highcharts-root text {

  stroke-width: 0px;
  font-weight: bolder;
  font-size: 14px;
}

.highcharts-title {
  font-size: 20px !important;
  font-weight: bolder !important;
  font-family: cursive !important;
}